@model Thunder.Data.IPaging<Jquery.Thunder.Models.Person>
@if (@Model.Count.Equals(0))
{
    <p>
        Nenhum registro localizado.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>
                    <a href="#" class="thunder-grid-order" data-column="Id" data-asc="false">Código</a>
                </th>
                <th>
                    <a href="#" class="thunder-grid-order" data-column="Name" data-asc="false">Nome</a>
                </th>
                <th>
                    <a href="#" class="thunder-grid-order" data-column="Email" data-asc="true">E-mail</a>
                </th>
                <th>
                    <a href="#" class="thunder-grid-order" data-column="BirthDate" data-asc="true">Data de Nascimento</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Id
                    </td>
                    <td>@person.Name
                    </td>
                    <td>@person.Email
                    </td>
                    <td>@string.Format("{0:dd/MM/yyyy}", person.BirthDate)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <a href="#" class="thunder-grid-paged @(!Model.HasPreviousPage? "disabled" : "")" data-page="@(Model.HasPreviousPage ? Model.CurrentPage-1: -1)">&laquo;</a>
                    <select  class="thunder-grid-paged">
                        @for (var i = 0; i < Model.PageCount; i++)
                        {
                            <option value="@i" @(Model.CurrentPage.Equals(i) ? "selected=selected" : "")>@string.Format("Página {0} de {1}", (i + 1), Model.PageCount)</option>   
                        }
                    </select>
                    <a href="#" class="thunder-grid-paged @(!Model.HasNextPage? "disabled" : "")" data-page="@(Model.HasNextPage ? Model.CurrentPage+1: -1)">&raquo;</a>
                    <span class="thunder-paged-loading" style="display: none;">Carregando</span>
                </td>
            </tr>
        </tfoot>
    </table>
}
